*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.gradle
*.gradle
321Connect/321key.jks
321Connect/keystore.properties.txt
321Connect/private_key.pepk
*.gradle
*.gradle
