<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iso.downsconnect">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.iso.downsconnect.VaccineActivity"></activity>
        <activity android:name="com.iso.downsconnect.ActivityListingActivity" />
        <activity android:name="com.iso.downsconnect.MedicalListingsActivity" />
        <activity android:name="com.iso.downsconnect.ProviderListingActivity" />
        <activity android:name="com.iso.downsconnect.DoctorsVisitActivity" />
        <activity android:name="com.iso.downsconnect.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.iso.downsconnect.SignInActivity" />
        <activity android:name="com.iso.downsconnect.SignUpActivity" />
        <activity android:name="com.iso.downsconnect.FeedActivity" />
        <activity android:name="com.iso.downsconnect.ActivityActivity" />
        <activity android:name="com.iso.downsconnect.JournalActivity" />
        <activity android:name="com.iso.downsconnect.MedicalActivity" />
        <activity android:name="com.iso.downsconnect.MessageActivity" />
        <activity android:name="com.iso.downsconnect.MilestoneActivity" />
        <activity android:name="com.iso.downsconnect.MoodActivity" />
        <activity android:name="com.iso.downsconnect.MoreActivity" />
        <activity android:name="com.iso.downsconnect.BathroomActivity" />
        <activity android:name="com.iso.downsconnect.PhotoActivity" />
        <activity android:name="com.iso.downsconnect.ResourcesActivity" />
        <activity android:name="com.iso.downsconnect.SleepActivity" />
        <activity android:name="com.iso.downsconnect.ActivityContainer" />
        <activity android:name="com.iso.downsconnect.DetailedProfileActivity" />
        <activity android:name="com.iso.downsconnect.ChartActivity" />
        <activity android:name="com.iso.downsconnect.ProvidersActivity"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>
    </application>

</manifest>